/* styles for both Anni Albers layouts */

/* by default, let's layout the first index.html file */

main{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

main{
    font-size: 3rem;
}

h2{
    font-size: 0.75rem;
    font-style: italic;
}

p{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout{
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row3 p{
    margin-left: 16.67%;
}

#row4 p{
    margin-left: calc(100% * 2 /6)
}

/* ************************************** */
/* CSS for index2 */
/* ************************************** */

/* inherit the baseline main code, above, and add to it */
#secondLayout main{
    display: grid;
    grid-template-columns: repeat (6, auto);
    grid-template-rows: repeat (5, auto);
    grid-template-areas: 
    'title title title title title title'
    '. p1 p1 . . .'
    'p2 p2 . . c1 c1'
    '. p3 p3 . . .'
    '. . p4 p4 . .';
}

#secondLayout #titleRow{grid-area: title;}
#secondLayout #para1 {grid-area: p1; }
#secondLayout #para1 {grid-area: p2; }
#secondLayout #para1 {grid-area: p3; }
#secondLayout #para1 {grid-area: p4; }
#secondLayout #callout1 {grid-area: c1; }