/* styles for both Anni Albers layouts */

/* by default, let's layout the first index.html file */

main{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

main{
    font-size: 3rem;
}

h2{
    font-size: 0.75rem;
    font-style: italic;
}

p{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout{
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
}