/* mobile-first design for Pacific rhodendron layout */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 60;
    width: 40;
    height: 40vh;
    color: white;
    align-content: right;
    background-image: url("rhod.jpg");;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

#rhodiTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhodiTitle h1 {
    position: absolute;
    bottom: 0;
    left: 3em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw-2em);
}



/* PUT THE REST OF THE LAYOUT MOBILE BASELINE HERE */

@media screen and (orientation: landscape) {

    #rhodiePic {
        width: 50vw;
    }

    #rhodiTitle {
        width: 50vw;
        left: 50vw;
        background-color: #333;
    }

    #rhodiTitle h1 {
        width: 45vw;
        left: 50vw;
    }

/* REST OF DESKTOP LAYOUT HERE */

}